.page-template {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); // 그림자를띄워줍니다.
    padding-top: 2rem;
    @media(max-width: 768px) { // 브라우저의크기가768px 미만으로됐을땐,
    margin-top: 1rem;
    width: calc(100% -2rem); // 양옆에1rem의여백을남기고꽉채워줍니다.
    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
    }
    .content {
        margin-top: 2rem;
    }
}